
@{
    Layout = null;
}

<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Paper Dashboard 2 by Creative Tim
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/adminLayout//assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/adminLayout/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/adminLayout/assets/demo/demo.css" rel="stylesheet" />
</head>
<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger"style="width:200px;">
            <div class="logo">
               
                <a style="margin-left:35px;" class="simple-text logo-normal">
                   ALİ FUAT
                    <!-- <div class="logo-image-big">
                      <img src="../assets/img/logo-big.png">
                    </div> -->
                </a>
            </div>
            <div class="sidebar-wrapper"style="width:200px;height:1000px;">
                <ul class="nav">

                    <li>
                        <a href="/SinemaAdmin/Index/">
                            <i class="nc-icon nc-tv-2"></i>
                            <p>Sinema</p>
                        </a>
                    </li>
                    <li>
                        <a href="/KitapAdmin/Index/">
                            <i class="nc-icon nc-book-bookmark"></i>
                            <p>Kitap</p>
                        </a>
                    </li>
                    <li>
                        <a href="/BlogAdmin/Index/">
                            <i class="nc-icon nc-single-copy-04"></i>
                            <p>Blog</p>
                        </a>
                    </li>
                    <li>
                        <a href="/YorumAdmin/Index/">
                            <i class="nc-icon nc-chat-33"></i>
                            <p>Yorumlar</p>
                        </a>
                    </li>
                    <li>
                        <a href="/YazarAdmin/Index/">
                            <i class="nc-icon nc-single-02"></i>
                            <p>Yazar</p>
                        </a>
                    </li>
                    <li>
                        <a href="/HakkimizdaAdmin/Index/">
                            <i class="nc-icon nc-tag-content"></i>
                            <p>Hakkımızda</p>
                        </a>
                    </li>
                    <li>
                        <a href="/YeteneklerimAdmin/Index/">
                            <i class="nc-icon nc-html5"></i>
                            <p>Yeteneklerim</p>
                        </a>
                    </li>
                    <li>
                        <a href="/iletisimAdmin/Index/">
                            <i class="nc-icon nc-pin-3"></i>
                            <p>İletişim</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Yonet/Index/">
                            <i class="nc-icon nc-touch-id"></i>
                            <p>Admin</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Index/">
                            <i class="nc-icon nc-spaceship"></i>
                            <p>Siteye Git</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel" style="height: 100vh;width:90%;">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent"style="margin-left:50px;">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" >Admin Paneli</a>
                    </div>
                    
                    
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content"style="margin-left:50px;">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</body>
</html>

